
		button, div, form, input {
			margin: 10px;
		}

		.outer {
			background-image: url('../images/bg1.jpg');
			background-size: cover;
		}
		.inside {
			width: 900px;
			background-color: white;
			margin-left: 150px;
			text-align: center;
			margin-top: 30px;
		}
		.animal {
			margin-top: 10px;
			margin-left: 10px;
			margin-bottom: 20px;  
		}
		#animal-form {
			margin-top: 10px;
		}
		#gifsAppearHere {
			margin-top: 10px;
		}
	